/* here is where you put:
1. element selectors
2. media queires
3. global pseudo selectors (like :root)
4. class selectors for all components to use
*/

:root {
  /* making a theme */
  --bg-color: hotpink;
}

body {
  background-color: var(--bg-color);
}

h1 {
  font-size: 4.5rem;
}